Node-Red.json
[
    {
        "id": "fdc2529e5248c2b8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7dac906142fa92c",
        "type": "telegram receiver",
        "z": "fdc2529e5248c2b8",
        "name": "",
        "bot": "4a91e5a5d4d4809a",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 350,
        "y": 480,
        "wires": [
            [
                "80e374529959a32e",
                "526ccf48265c0533"
            ],
            [
                "4b14d47b895a088b"
            ]
        ]
    },
    {
        "id": "0908abda2ae5acaa",
        "type": "telegram sender",
        "z": "fdc2529e5248c2b8",
        "name": "",
        "bot": "4a91e5a5d4d4809a",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1970,
        "y": 540,
        "wires": [
            [
                "64fa38e945ca6e10"
            ]
        ]
    },
    {
        "id": "47ec639e6a2892ff",
        "type": "watson-assistant-v2",
        "z": "fdc2529e5248c2b8",
        "name": "Guardian SaveUs",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/caa63f65-088b-4f37-9de8-7af5a9ee725b",
        "assistant_id": "0f1bd8c9-2a86-4028-ae36-66e9ca3f96f3",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "45924932a76886c6",
                "f4caa9c9427da120"
            ]
        ]
    },
    {
        "id": "80e374529959a32e",
        "type": "debug",
        "z": "fdc2529e5248c2b8",
        "name": "InputTelegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "45924932a76886c6",
        "type": "debug",
        "z": "fdc2529e5248c2b8",
        "name": "Output Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "4b14d47b895a088b",
        "type": "function",
        "z": "fdc2529e5248c2b8",
        "name": "Barrar não autorizados",
        "func": "msg.payload.content = \"Você não é um users autorizado.\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 680,
        "wires": [
            [
                "0908abda2ae5acaa"
            ]
        ]
    },
    {
        "id": "64fa38e945ca6e10",
        "type": "debug",
        "z": "fdc2529e5248c2b8",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 500,
        "wires": []
    },
    {
        "id": "526ccf48265c0533",
        "type": "switch",
        "z": "fdc2529e5248c2b8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "d80ce46d9d0030a4"
            ],
            [
                "19b19bc097d7bdea"
            ]
        ]
    },
    {
        "id": "19b19bc097d7bdea",
        "type": "change",
        "z": "fdc2529e5248c2b8",
        "name": "Prepara Input",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "3325daf75331f1c3"
            ]
        ]
    },
    {
        "id": "80335dfa53e251ad",
        "type": "watson-speech-to-text",
        "z": "fdc2529e5248c2b8",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "7_6Ln_Se-ApXRlx2AgG6g-WXND_vS_GUmZekMIo0QaRE",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/26f3da2a-ea0d-4582-b108-309474c73dc0",
        "x": 790,
        "y": 460,
        "wires": [
            [
                "47ec639e6a2892ff",
                "f64746c862fe3228"
            ]
        ]
    },
    {
        "id": "2ef3d5b3c4b21fc3",
        "type": "function",
        "z": "fdc2529e5248c2b8",
        "name": "ProcOut STT",
        "func": "msg.payload = {\n    chatId: msg.chatId,\n    type: \"message\",\n    content: msg.payload.output.generic[0].text\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 580,
        "wires": [
            [
                "0908abda2ae5acaa"
            ]
        ]
    },
    {
        "id": "38b259476e0a81ae",
        "type": "debug",
        "z": "fdc2529e5248c2b8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.chatId",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 400,
        "wires": []
    },
    {
        "id": "d80ce46d9d0030a4",
        "type": "change",
        "z": "fdc2529e5248c2b8",
        "name": "Prepara Input",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "80335dfa53e251ad"
            ]
        ]
    },
    {
        "id": "f64746c862fe3228",
        "type": "debug",
        "z": "fdc2529e5248c2b8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "3325daf75331f1c3",
        "type": "watson-assistant-v2",
        "z": "fdc2529e5248c2b8",
        "name": "Guardian SaveUs",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/caa63f65-088b-4f37-9de8-7af5a9ee725b",
        "assistant_id": "0f1bd8c9-2a86-4028-ae36-66e9ca3f96f3",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1230,
        "y": 540,
        "wires": [
            [
                "2ef3d5b3c4b21fc3"
            ]
        ]
    },
    {
        "id": "33239d545a5d5722",
        "type": "watson-text-to-speech",
        "z": "fdc2529e5248c2b8",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "u9xev9-65staik4FmYvJLsIDx6uyhmQXaEhML5m0YmNV",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/5ee21fdc-70f5-45ee-96a1-ef5fd7e78013",
        "x": 1570,
        "y": 460,
        "wires": [
            [
                "38b259476e0a81ae",
                "48e142fe9ab17e2f"
            ]
        ]
    },
    {
        "id": "803122601d3a8fce",
        "type": "function",
        "z": "fdc2529e5248c2b8",
        "name": "Proc IN TTS",
        "func": "msg.params = msg.payload.chatId\nmsg.payload = msg.payload.content\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 500,
        "wires": [
            [
                "33239d545a5d5722"
            ]
        ]
    },
    {
        "id": "48e142fe9ab17e2f",
        "type": "function",
        "z": "fdc2529e5248c2b8",
        "name": "Proc OUT TTS",
        "func": "msg.payload = {\n    chatId: msg.params,\n    content: msg.payload,\n    type: 'voice'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 500,
        "wires": [
            [
                "0908abda2ae5acaa"
            ]
        ]
    },
    {
        "id": "f4caa9c9427da120",
        "type": "change",
        "z": "fdc2529e5248c2b8",
        "name": "Prepara Saída",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 460,
        "wires": [
            [
                "803122601d3a8fce",
                "998486838f42f20e"
            ]
        ]
    },
    {
        "id": "998486838f42f20e",
        "type": "debug",
        "z": "fdc2529e5248c2b8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 380,
        "wires": []
    },
    {
        "id": "4a91e5a5d4d4809a",
        "type": "telegram bot",
        "botname": "SaveUs",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]